<div class="git_area">
	<div>
		<table class="git_list">
			<thead>
				<tr>
				<th class="col_1"><input type="checkbox" class="large" id="check_all"></th>
				<th class="col_2">Status</th>
				<th class="col_3">File</th>
				<th class="col_4">Actions</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<script>
		codiad.CodeGit.status();
		$('.git_area_path').text(codiad.CodeGit.location);
		codiad.CodeGit.getBranches();
		function renameBranch() {
			codiad.CodeGit.name = $('#git_branches').val();
			codiad.CodeGit.showDialog('renameBranch', codiad.CodeGit.location);
		}
	</script>
</div>
