<div class="git_remote_area">
	Current remotes: <select id="git_remotes"></select>
			<button onclick="codiad.CodeGit.showDialog('overview', codiad.CodeGit.location); return false;">Overview</button>
		<button onclick="codiad.CodeGit.removeRemote(); return false;">Remove</button>
		<button onclick="codiad.CodeGit.showDialog('newRemote', codiad.CodeGit.location); return false;">New</button>
		<button onclick="renameRemote(); return false;">Rename</button>
		<button onclick="codiad.CodeGit.fetch(); return false;">Fetch</button>
		<button onclick="checkoutRemote(); return false;">Checkout</button>
	<div class="git_remote_info"></div>
	<script>
		codiad.CodeGit.status();
		$('.git_area_path').text(codiad.CodeGit.location);
		codiad.CodeGit.getBranches();

		function renameBranch() {
			codiad.CodeGit.name = $('#git_branches').val();
			codiad.CodeGit.showDialog('renameBranch', codiad.CodeGit.location);
		}
		codiad.CodeGit.getRemotes();

		function renameRemote() {
			codiad.CodeGit.name = $('#git_remotes').val();
			codiad.CodeGit.showDialog('renameRemote', codiad.CodeGit.location);
		}

		function checkoutRemote() {
			codiad.CodeGit.showDialog('checkoutRemote', codiad.CodeGit.location);
		}
	</script>
</div>